@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --color-text: hsl(200, 15%, 8%);
  --color-bg-navbar: hsl(0, 0%, 100%);
  --color-bg-content: hsl(0, 0%, 98%);
  --color: hsl(0, 0%, 52%);

  &.dark-theme {
    --color-text: hsl(0, 0%, 100%);
    --color-bg-navbar: hsl(209, 23%, 22%);
    --color-bg-content: hsl(207, 26%, 17%);
  }
}

body {
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Nunito Sans", sans-serif;
  color: var(--color-text);
  font-size: 14px;
}
