@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --gray: hsl(0, 0%, 59%);
  --dark-gray: hsl(0, 0%, 17%);
  --danger: #df4759;
}

body {
  margin: 0;

  * {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }
}
