@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

:root {
  --color-red: hsl(1, 90%, 64%);
  --color-blue: hsl(219, 85%, 26%);
  --color-background: hsl(210, 60%, 98%);
  --color-light-grayish-blue-1: hsl(211, 68%, 94%);
  --color-light-grayish-blue-2: hsl(205, 33%, 90%);
  --color-grayish-blue: hsl(219, 14%, 63%);
  --color-dark-grayish-blue: hsl(219, 12%, 42%);
  --color-very-dark-blue: hsl(224, 21%, 14%);
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
